.mypage-left
  .mypage-tabs-contents
    .mypage-tabs-left-contents
      .mypage-tabs-left-contents-messages.show
        .mypage-tabs-left-contents-messages-icon
          = image_tag "risu.jpg", height:"50px", width: "50px"
        .mypage-tabs-left-contents-messages-show
          .new-message 
            aaa
          .message-time
            sss
        %i.fas.fa-chevron-right.fa-lg
.tab-content
  = link_to "#", class: "show-message-list" do
    一覧を見る